<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/home/mateusz_/Desktop/Notatki/JAPIERDOLE/static/styles.css">
    <title>ROCK PAPER SCISSORS</title>
</head>
<body>
    <header>
        <div class="nav-container borders">
            <ul>
                <li><a href="#">Log me in</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="scoreboard borders">
            <div class="left-column">
                <ul>
                    <li><span>ROCK</span></li>
                    <li><span>PAPER</span></li>
                    <li><span>SCISSORS</span></li>
                </ul>
            </div>
            <div class="right-column">
                <div class="white-background">
                    <ul>
                        <li><span class="score-text">SCORE</span></li>
                        <li><span class="score-actual">0</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="wrapper-all-choices">
            <div class="rock">
                <img src="/home/mateusz_/Desktop/Notatki/JAPIERDOLE/static/images/rock.png" alt="">
            </div>
            <div class="paper">
                <img src="/home/mateusz_/Desktop/Notatki/JAPIERDOLE/static/images/paper.png" alt="">
            </div>
        </div>
        <div class="flex-column">
            <div class="scissors">
                <img src="/home/mateusz_/Desktop/Notatki/JAPIERDOLE/static/images/scissors.png" alt="">
            </div> 
            <div class="who-won">
                <span>  </span>
            </div>
            <div class="try-again">
                <button class="button-again">
                    Try again!
                </button>
            </div>
        </div>
        
        
    </main>
    
    <script src="/home/mateusz_/Desktop/Notatki/JAPIERDOLE/static/app.js"></script>
</body>
</html>