<!DOCTYPE html>
<html>
    <head>
        <title>More or Less</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="main-nav">
            <h1>MORE<span> OR </span>LESS</h1>
            <button class="profil-career">PROFIL CAREER</button>
        </div>
        <div class="main-content">
            <h2>Choose game mode</h2>
            <div class="category-buttons">
                <button>Trends</button>
                <button>New</button>
                <button>World</button>
                <button>Youtube</button>
                <button>Twitch</button>
            </div>
            <div class="quizes">
                <div class="quiz" onclick="window.location.href='quiz1'">
                    <img src="https://api.moreorless.io/img/country-size_1080.jpg" alt="no-img-found">
                    <h2>Country size</h2>
                    <p>Guess which are the largest countries of our beatiful world.</p>
                </div>
                <div class="quiz">
                    <img src="https://api.moreorless.io/img/country-size_1080.jpg" alt="no-img-found">
                    <h2>Country size</h2>
                    <p>Guess which are the largest countries of our beatiful world.</p>
                </div>
                <div class="quiz">
                    <img src="https://api.moreorless.io/img/country-size_1080.jpg" alt="no-img-found">
                    <h2>Country size</h2>
                    <p>Guess which are the largest countries of our beatiful world.</p>
                </div>
                <div class="quiz">
                    <img src="https://api.moreorless.io/img/country-size_1080.jpg" alt="no-img-found">
                    <h2>Country size</h2>
                    <p>Guess which are the largest countries of our beatiful world.</p>
                </div>
                <div class="quiz">
                    <img src="https://api.moreorless.io/img/country-size_1080.jpg" alt="no-img-found">
                    <h2>Country size</h2>
                    <p>Guess which are the largest countries of our beatiful world.</p>
                </div>
            </div>
        </div>
    </body>
</html>