<!DOCTYPE html>
<html>
    <head>
        <title>Which country is bigger?</title>
        <script src="https://kit.fontawesome.com/47791b843d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="scores">
            <div class="highscore flexing">
                <h2>Highscore</h2>
                <h2 class="high-score"></h2>
            </div>
            <div class="score flexing">
                <h2>Score</h2>
                <h2 class="score-normal"></h2>
            </div>
        </div>
        <div class="main-content-quiz">
            <div class="side">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARwAAACxCAMAAAAh3/JWAAAADFBMVEX////cFDzup6/bAC47xqeuAAAA0UlEQVR4nO3QMQHAMAzAsLTjz3kI4qO3BEEzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPLms5mM1h5WcICfICXKCnCAnyAlygpwgJ8gJcoKcICfICXKCnCAnyAlygpwgJ8gJcoKcICfICXKCnCAnyAlygpwgJ8gJcoKcICfICXKCnCAnyAlygpwgJ8gJcoKcICfICXKCnCAnyAlygpwgJ8gJcoKcICfICXKCnCAnyAlygpwgJ8gJcoKcICfICXKCnCAnyAlygpwgJ8gJcoKcICf8zMtmEUHJBe8AAAAASUVORK5CYII=" alt="">
                <h2></h2>
                <span>is</span>
                <h1></h1>
                <span>in Total Area</span>
            </div>
            <div class="down">
                <div class="vl"></div>
                <h2>VS</h2>
                <div class="vl"></div>
            </div>
            
            <div class="side">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARwAAACxCAMAAAAh3/JWAAAADFBMVEX////cFDzup6/bAC47xqeuAAAA0UlEQVR4nO3QMQHAMAzAsLTjz3kI4qO3BEEzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPLms5mM1h5WcICfICXKCnCAnyAlygpwgJ8gJcoKcICfICXKCnCAnyAlygpwgJ8gJcoKcICfICXKCnCAnyAlygpwgJ8gJcoKcICfICXKCnCAnyAlygpwgJ8gJcoKcICfICXKCnCAnyAlygpwgJ8gJcoKcICfICXKCnCAnyAlygpwgJ8gJcoKcICfICXKCnCAnyAlygpwgJ8gJcoKcICf8zMtmEUHJBe8AAAAASUVORK5CYII=" alt="">
                <h2></h2>
                <span>is</span>
                <h1 class="right"></h1>
                <button class="bigger"><i class="fa-solid fa-arrow-up"></i> Bigger</button>
                <button class="smaller"><i class="fa-solid fa-arrow-down"></i> Smaller</button>
                <span>in Total Area</span>
            </div>
        </div>
        <script src="/static/app.js"></script>
    </body>
</html>